#header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  position: fixed;
  box-shadow: -1px -2px 0px #fec300cb;
  margin-top: 1px;
  // outline: 1px solid #fec300cc;
  // border-bottom: 2px solid rgba(255, 0, 0, 0.045);
  z-index: 100;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(7, 19, 43, 0.655) 70%,
    transparent
  );
  background: linear-gradient(
    to bottom,
    rgba(7, 7, 10, 0.925) 0%,
    rgba(7, 7, 10, 0.788) 40%,
    transparent
  );

  .main-logo {
    max-height: 80px;
    position: relative;
    left: 15%;
    top: 15%;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1em;
    .side-menu {
      padding: 1em;
      padding-top: 1.5em;
      .btn-openside {
        width: 35px;
        height: 35px;
        &:hover {
          svg {
            outline-offset: 5px;
            outline-width: 3px;
          }
        }
        svg {
          width: 100%;
          height: 100%;
          padding: 0.25em;
          outline: 2px solid var(--blue);
          outline-offset: 3px;
        }
        background: var(--gold);
      }
    }
    nav {
      display: flex;
      font-size: 1.1rem;
      margin-left: 1em;
      align-items: center;
      .btn-nav {
        display: flex;
        align-items: center;
        padding: 0.35em 1em;
        padding-right: 3em;
        padding-left: 0;
        color: var(--dGrey);
        position: relative;

        filter: drop-shadow(0px 0px 5px #04020e);
        &::before {
          content: "";
          scale: 0.25 1;
          transform-origin: left;
          position: absolute;
          bottom: 0;
          left: 0%;
          width: 100%;
          height: 3px;
          background: var(--dGrey);
        }
        &:hover,
        &.active {
          color: var(--grey);
          font-weight: bold;
          &::before {
            background-color: var(--grey);
          }
        }
        &:hover {
          background: rgba(0, 0, 0, 0.493);
        }
      }
      &:hover {
        scale: initial;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .right {
      nav {
        gap: 0.2em;
        .btn-nav {
          padding-right: 1.5em;
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    padding: 0;
    .right {
      padding: 1em;
    }
    .right nav .btn-nav {
      display: none;
    }
  }

  @media screen and (max-width: 550px) {
    .left .main-logo {
      left: initial;
      top: 20%;
      max-width: 80%;
    }
    .right .side-menu .anchor-select {
      display: none;
    }
  }
}

#sidebar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.747);
  backdrop-filter: blur(2px);
  height: 100%;
  border-right: 500px;
  top: 0%;
  left: 0%;
  z-index: 100;
  transition: all 500ms;
  @media screen and (max-width: 1280px) {
  }
  &.open {
    pointer-events: auto;
    user-select: auto;
    .bar {
      transform: translateX(0);
    }
  }
  &.close {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    .bar {
      transform: translateX(-100%);
    }
  }
  .bar {
    transition: all 500ms;

    background: url("/bg/steel.webp"), #0c0e0e;
    width: min(800px, 100%);
    height: 100%;
    border-right: 15px solid var(--blue);
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 0.2em;
      height: 100%;
      padding-right: 1em;
      padding-top: 2em;
      @media screen and (max-width: 550px) {
        padding-top: 0;
        padding-right: 0;
        img {
          height: 10vh;
        }
      }
      .btn-nav {
        line-height: 70%;
        transform-origin: right;
        font-size: 6rem;
        font-family: var(--fontH);
        font-weight: bold;
        opacity: 0.2;
        filter: drop-shadow(0px 0px 4px var(--black));
        @media screen and (max-width: 1280px) {
          font-size: 5rem;
          &.back {
            font-size: 5rem;
          }
        }

        @media screen and (max-width: 550px) {
          font-size: 8vw !important;
          color: var(--gold);
          opacity: 1;
          line-height: 50px;
          background: rgba(0, 0, 0, 0.302);
          width: 100%;
          text-align: right;
          padding: 0.25em;
        }
        @media screen and (max-width: 420px) {
          font-size: 2rem !important;
          text-align: right !important;
          padding: 0;
          padding-right: 0.5em;
          justify-content: flex-end;
        }

        span {
          // font-size: 1rem;
          display: block;
        }
        &:hover {
          transform: skewX(10deg);
          color: var(--gold);
          opacity: 1;
        }
        &.back {
          // align-self: flex-end;
          margin-top: 1em;
          font-size: 5rem;
          display: flex;
          align-items: center;
          svg {
            top: 10px;
            left: -10px;
            scale: -1px;
            position: relative;
          }
        }
      }
    }
  }
}
