* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontP);
}

.dw {
  user-select: none;
  pointer-events: none;
}

:root {
  --gold: #fec200;
  --blue: #023daf;
  --grey: #d7d7d7;
  --dGrey: #888888;
  --black: #151717;
  color: #b6b6b6;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--fontH);
  color: var(--grey);
}
p {
  line-height: 1.4;
}
button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}
.btn {
  cursor: pointer;
  transition: all 200ms ease;
  &:hover {
    scale: 1.05;
  }
  &:active {
    scale: 0.95;
  }
}

.common-h {
  font-size: 3.2rem;
  color: var(--gold);
  text-shadow: 0px 0px 4px black;
  font-weight: bold;
  font-family: var(--fontH);
  line-height: 80%;
  &.s {
    color: var(--grey);
  }
}
.common-sh {
  font-size: 1.8rem;
  color: var(--blue);
  line-height: 90%;
  font-weight: bold;
  text-shadow: 0px 0px 4px black;
}
.common-p {
  font-size: var(--grey);
  text-shadow: 0px 0px 4px black;
}

body {
  background: #0c0f13;
}

main {
  min-height: 100vh;
}

.confine {
  max-width: min(1280px, 90%);
  margin: 0 auto;
}

.btn-special {
  color: var(--gold);
  background: black;
  border: 2px solid var(--blue);
  padding: 0.35em 2em;
  font-weight: bold;
  font-family: var(--fontH);
  font-size: 1.5rem;
  padding-bottom: 0.5em;
  position: relative;
  &:hover {
    &::before,
    &::after {
      // top: -10px;
      scale: 1.3;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    background: var(--blue);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    transition: all 100ms;
    transform-origin: top left;
  }
  &::after {
    transform-origin: bottom right;
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    transition: all 100ms;
    height: 25px;
    background: var(--blue);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
  }
}
.btn-triangle {
  --btnCol: var(--blue);
  background: var(--btnCol);
  column-rule: var(--black);

  &.yellow {
    --btnCol: var(--gold);
  }

  &.reverse {
    min-width: 0;
    .endbits {
      left: initial;
      right: 102%;
      scale: -1 1;
    }
    .triangle {
      flex-direction: row-reverse;
      .arrow-line {
        min-width: 50px;
      }
      svg {
        scale: -1;
      }
    }
  }
  position: relative;
  .endbits {
    position: absolute;
    // right:
    left: 105%;
    display: flex;
    gap: 0.5em;
    top: 0%;
    height: 100%;
    .a {
      height: 100%;
      width: 10px;
      background: var(--btnCol);
    }
    .b {
      height: 100%;
      width: 20px;
      clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
      background: var(--btnCol);
    }
  }
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.15em 1em;
  padding-left: 0.2em;
  gap: 1em;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  transform-origin: left;
  white-space: nowrap;
  min-width: 600px;
  .triangle {
    display: flex;
    align-items: center;
    --color: var(--black);
    width: 100%;
    .arrow-line {
      color: var(--color);
      width: 100%;
      height: 3px;
      background: var(--color);
      margin-right: -5px;
    }
    svg {
      width: 20px;
      fill: var(--color);
      path {
        fill: var(--color);
      }
      height: 20px;
    }
  }
}
